<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hnit.learning_shop.dao.SysLogMapper" >
  <resultMap id="BaseResultMap" type="com.hnit.learning_shop.entity.SysLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="execution_time" property="executionTime" jdbcType="BIGINT" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="method" property="method" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="visit_time" property="visitTime" jdbcType="TIMESTAMP" />
    <result column="visit_time_str" property="visitTimeStr" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, execution_time, ip, method, url, username, visit_time, visit_time_str
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hnit.learning_shop.entity.SysLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hnit.learning_shop.entity.SysLogExample" >
    delete from sys_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hnit.learning_shop.entity.SysLog" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_log (execution_time, ip, method, 
      url, username, visit_time, 
      visit_time_str)
    values (#{executionTime,jdbcType=BIGINT}, #{ip,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{visitTime,jdbcType=TIMESTAMP}, 
      #{visitTimeStr,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hnit.learning_shop.entity.SysLog" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="executionTime != null" >
        execution_time,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="method != null" >
        method,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="visitTime != null" >
        visit_time,
      </if>
      <if test="visitTimeStr != null" >
        visit_time_str,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="executionTime != null" >
        #{executionTime,jdbcType=BIGINT},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="visitTime != null" >
        #{visitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="visitTimeStr != null" >
        #{visitTimeStr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hnit.learning_shop.entity.SysLogExample" resultType="java.lang.Integer" >
    select count(*) from sys_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_log
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.executionTime != null" >
        execution_time = #{record.executionTime,jdbcType=BIGINT},
      </if>
      <if test="record.ip != null" >
        ip = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.method != null" >
        method = #{record.method,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.visitTime != null" >
        visit_time = #{record.visitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.visitTimeStr != null" >
        visit_time_str = #{record.visitTimeStr,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_log
    set id = #{record.id,jdbcType=INTEGER},
      execution_time = #{record.executionTime,jdbcType=BIGINT},
      ip = #{record.ip,jdbcType=VARCHAR},
      method = #{record.method,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      visit_time = #{record.visitTime,jdbcType=TIMESTAMP},
      visit_time_str = #{record.visitTimeStr,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hnit.learning_shop.entity.SysLog" >
    update sys_log
    <set >
      <if test="executionTime != null" >
        execution_time = #{executionTime,jdbcType=BIGINT},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        method = #{method,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="visitTime != null" >
        visit_time = #{visitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="visitTimeStr != null" >
        visit_time_str = #{visitTimeStr,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hnit.learning_shop.entity.SysLog" >
    update sys_log
    set execution_time = #{executionTime,jdbcType=BIGINT},
      ip = #{ip,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      visit_time = #{visitTime,jdbcType=TIMESTAMP},
      visit_time_str = #{visitTimeStr,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>